/* .animation{
    transition: .2s ease-in;
    scale: 1.6;
    border-radius: 2vh;
}


.backgroundImage{
 background-image: url("https://wallpapercave.com/wp/wp5486226.jpg");
 height: 70vh;
 background-repeat: no-repeat;
 background-size: cover;
} */


.hydrology-background-img{
    
}